/* Blocks */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
  width: 680px;
  min-height: 680px;
  margin: 0 0 3em;
  padding: 32px;
  border-radius: 10px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5s);
}

.score {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

/* Elements */

.header__text {
  text-align: center;
}

.deck__card {
  background: rgba(11, 196, 202, 0.822);
  height: 125px;
  width: 125px;
  padding: 3.5rem;
  margin: .5rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  color: rgba(3, 3, 3, 0.774);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  cursor: pointer;
}

.score__stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score__stars li {
  display: inline-block;
  list-style: none;
}

/* Modifiers */

.deck__card--open {
  background: #02b3e4;
  cursor: default;
}

.deck__card--show {
  font-size: 33px;
}

.deck__card--match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.score--restart {
  float: right;
  cursor: pointer;
}

/* Shake effect from W3Schools (https://www.w3schools.com/howto/howto_css_shake_image.asp)*/
.deck__card--shake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
