/* Blocks */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 45px;
  font-weight: 300;
  padding-top: 15px;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
  max-width: 680px;
  min-height: 680px;
  margin: 0 0 3em;
  padding: 32px;
  border-radius: 10px;
  background: linear-gradient(160deg, #01eeda 0%, #bb8be2 100%);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5s);
}

.score {
  width: 345px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  text-align: center;
}

/* Elements */

.header__text {
  text-align: center;
}

.deck__card {
  background: #263d4b;
  height: 125px;
  width: 125px;
  padding: 3.5rem;
  margin: .5rem;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  color: #fff;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  cursor: pointer;
}

.score__stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score__stars li {
  display: inline-block;
  list-style: none;
}

.score__timer {
  display: inline-block;
  padding-left: 15px;
}

.modal-title {
  padding-top: 15px;
}

.dark-star {
  color: 000;
}

/* Modifiers */

.deck__card--open {
  background: #02b3e4;
  cursor: default;
}

.deck__card--show {
  font-size: 33px;
  animation: flipInY 0.5s;
  animation-iteration-count: 1;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.btn-primary {
  display: none;
}

.btn-info {
  background: rgba(2, 196, 164, 0.886);
}

.check {
  color: rgba(2, 196, 164, 0.886);
  padding-bottom: 15px;
  font-size: 40px;
  animation: bounceInDown 0.5s;
  animation-iteration-count: 1;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {x
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}


.deck__card--match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  animation: rubberBand 0.5s;
  animation-iteration-count: 1;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


.deck__card--fail {
  cursor: default;
  background: #f70b0bdc;
  font-size: 33px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* Shake effect from W3Schools (https://www.w3schools.com/howto/howto_css_shake_image.asp)*/

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.score__restart {
  display: inline-block;
  cursor: pointer;
}